{% include "base.html" %}
{% block content %}


{% load static %}
<h2>Game</h2>


<h2>Drag and Drop Game 2</h2>
<div class="row">
    <!-- <div class="col-lg-4 ">

    </div> -->
    <div class="col-lg-4 text-center m-auto" >



        <div style="align-items: center; margin: 10px; padding: 10px;border: 2px solid black;" id="div1"
            ondrop="drop(event)" ondragover="allowDrop(event)">
            <img style="width: 150px; height: 150px;" src={% static question_letter %} draggable="true"
                ondragstart="drag(event)" id={% static question_letter %}>
        </div>
    </div>
    <!-- <div class="col-lg-4 ">

    </div> -->



</div>
</div>


<div id="choice" class="row mt-5" style="width: 100%; height:  800px; align-items: center; margin: 10px; padding: 10px;border: 2px solid black;  background-size: cover; background-repeat: no-repeat; background-image:url('https://images.unsplash.com/photo-1638803040283-7a5ffd48dad5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'); ">

    {% for index,choice in sample_list %}


    <div style="width:250px; height:250px; min-width: 50px; min-height: 50px;  background: #e00;   position: absolute;   top: 1000px; left: 1000px; " >
            <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id={% static choice %} ondrop="drop(event)" ondragover="allowDrop(event)">
                <img src={% static choice %} style="width: 200px; height:  200px;" >
            
            </div>
    </div>

    {% endfor %}
</div>

<!-- 
<div style="width:100px; height:100px; min-width: 50px; min-height: 50px;  background: #e00;   position: absolute;   top: 100px; left: 100px;" >i'm a 1</div>
<div style="width:100px; height:100px; min-width: 50px; min-height: 50px;  background: #e00;   position: absolute;   top: 100px; left: 100px;">i'm a 3</div>
<div style="width:100px; height:100px; min-width: 50px; min-height: 50px;  background: #e00;   position: absolute;   top: 100px; left: 100px;">i'm a 2</div>
<div style="width:100px; height:100px; min-width: 50px; min-height: 50px;  background: #e00;   position: absolute;   top: 100px; left: 100px;">i'm a 4</div> -->



<!-- <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div1" ondrop="drop(event)"
            ondragover="allowDrop(event)">
            <img src={% static "alphabets/A_500x500.png" %} draggable="true" ondragstart="drag(event)" id="drag1"
                width="88" height="31">
        </div>

        <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div2" ondrop="drop(event)"
            ondragover="allowDrop(event)"></div> -->









{% load static %}
<script src="{% static 'js/game_2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}