{% include "base.html" %}
{% block content %}


{% load static %}
<h2>Game</h2>



<div class="row">
    <div class="col-lg-12">

        <h2>Drag and Drop</h2>
        <p>Drag the image back and forth between the two div elements.</p>



        <div style=" margin: 10px; padding: 10px;border: 2px solid black;" id="div1" ondrop="drop(event)"
            ondragover="allowDrop(event)">
            <img src={% static question_letter %} draggable="true" ondragstart="drag(event)" id={% static question_letter %}>
        </div>
    </div>



</div>
</div>

<div class="row">

{% for index,choice in sample_list %}
<!-- <div class="col" style="border: 5px solid  #dddcdc;" id="div2" ondrop="drop(event)"
                        ondragover="allowDrop(event)">
                    </div> -->

    <div class="col-4">
        <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id={% static choice %}
            ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- <img id="dropimage" src= style="width: 100px; height:  100px;"> -->
            <img src={% static choice %} style="width: 100px; height:  100px;">
        </div>
    </div>

{% endfor %}
</div>



<!-- <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div1" ondrop="drop(event)"
            ondragover="allowDrop(event)">
            <img src={% static "alphabets/A_500x500.png" %} draggable="true" ondragstart="drag(event)" id="drag1"
                width="88" height="31">
        </div>

        <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div2" ondrop="drop(event)"
            ondragover="allowDrop(event)"></div> -->









{% load static %}
<script src="{% static 'js/game.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}