{% include "base.html" %}
{% block content %}


{% load static %}
<h2>Game</h2>


<h2>Drag and Drop Game</h2>
<div class="row">
    <!-- <div class="col-lg-4 ">

    </div> -->
    <div class="col-lg-4 text-center m-auto">



        <div style="align-items: center; margin: 10px; padding: 10px;border: 2px solid black;" id="div1"
            ondrop="drop(event)" ondragover="allowDrop(event)">
            <img style="width: 150px; height: 150px;" src={% static question_letter %} draggable="true"
                ondragstart="drag(event)" id={% static question_letter %}>
        </div>
    </div>
    <!-- <div class="col-lg-4 ">

    </div> -->



</div>
</div>


<div class="row mt-5">

    {% for index,choice in sample_list %}


    <div class="col-5  m-auto">
        <div class="card">
            <div class="card-body" style=" margin: 10px; padding: 10px;border: 1px solid black;" id={% static choice %} ondrop="drop(event)" ondragover="allowDrop(event)">
                <img src={% static choice %} style="width: 200px; height:  200px;" >
            </div>
        </div>
    </div>

    {% endfor %}
</div>



<!-- <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div1" ondrop="drop(event)"
            ondragover="allowDrop(event)">
            <img src={% static "alphabets/A_500x500.png" %} draggable="true" ondragstart="drag(event)" id="drag1"
                width="88" height="31">
        </div>

        <div style=" margin: 10px; padding: 10px;border: 1px solid black;" id="div2" ondrop="drop(event)"
            ondragover="allowDrop(event)"></div> -->









{% load static %}
<script src="{% static 'js/game.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}